.footer {
  position: relative;
  height: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0;
    height: 50px;
    overflow: hidden;
    -webkit-box-shadow: -2px 3px 9px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -2px 3px 9px 0px rgba(0, 0, 0, 0.45);
    box-shadow: -2px 3px 9px 0px rgba(0, 0, 0, 0.45);
  }
  & .filter-btn {
    padding: 5px;
    border: none;
    border-radius: 0.25rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
    margin-right: 5px;
    outline: none;
    background-color: rgb(241, 218, 218);
    &:hover,
    &.active {
      background-color: rgb(224, 184, 184);
    }
    &.clear-completed-btn {
      visibility: visible;
      &.visible {
        visibility: visible;
      }
    }
  }
  & .items-count {
    padding-left: 10px;
  }
}
