.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  font-size: 40px;
  color: gray;
  background-color: white;
  transition: 250ms all ease-in-out;
  cursor: pointer;

  &:hover {
    color: black;
  }
  app-todo-input {
    color: black;
  }
}
