.todo-item {
  position: relative;
  min-height: 50px;
  padding: 0 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  & .todo {
    position: relative;
    font-size: 18px;
    user-select: none;
    display: flex;
    & .toggle {
      // position: absolute;
      top: 0;
      bottom: 0;
      width: 40px;
      height: auto;
      margin: 0 auto;
      border: none;
      outline: none;
      //   appearance: none;
      //   & .toggle {
      //     background-image: url();
      //   }
    }
    & label {
      display: block;
      word-break: break-all;
      padding: 5px 5px 5px 10px;
    }
    & label.isCompleted {
      text-decoration: line-through;
      color: gray;
    }
  }
  & .icon-wrapper {
    height: 20px;
    width: 20px;
    color: white;
    background-color: white;
    font-size: 20px;
    transition: 250ms all ease-in-out;
    &:hover {
      transform: scale(1.2, 1.2);
      color: rgb(247, 78, 48);
    }
    &.active {
      color: tomato;
      cursor: pointer;
    }
    & .edit {
      &:hover {
        transform: scale(1.2, 1.2);
        color: rgb(0, 162, 255);
      }
      &.active {
        color: deepskyblue;
        cursor: pointer;
      }
    }
  }
  & .edit-form {
    position: absolute;
    width: 98.5%;
    height: 100%;
    background-color: white;
    & input {
      height: 92%;
      width: 92%;
      margin-left: 35px;
      font-size: 18px;
      padding-left: 10px;
    }
  }
}
